form {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    padding: 2rem;
}

form label {
    font-size: 1.4rem;
    text-align: left;
}

form input {
    /*max-width: 30rem;*/
    margin-bottom: 1.5rem;
    border: .5px solid #ccc;
    height: 3rem;
    border-radius: .5rem;
}

form input:focus {
    outline: 0;
}
