button {
    background: #F3FFBD;
    border: 0;
    padding: .7rem .7rem;
    border-radius: .5rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 2s infinite
}

button:hover,
button:active {
    background: #ffd
}
